{% extends "base.html" %}
{% load static %}
{% block title %}Tour Guides- Meet Our Team{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="text-center mb-4">
            <section id="hero">
        
              <img src="{% static 'assets/img/about_guide.jpg' %}" alt="" data-aos="fade-in">
        
              <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
                <div class="row justify-content-center">
                  <div class="col-lg-8">
                    <h2>Meet Our Team</h2>
                    <p><strong>We have a team of experienced professionals to take you to your destination</strong> </p>
                    <a href="{% url 'perl_app:book_resort' %}" class="btn-get-started">Get Started</a>
                  </div>
                </div>
              </div>
        
            </section> <!-- /Hero Section -->
          <h1 class="text-center mb-4"></h1>
          <div class="row g-4">
            {% for member in guide %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ member.photo.url }}" class="card-img-top" alt="{{ member.first_name }} {{ member.last_name }}" style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ member.first_name }} {{ member.last_name }}</h5>
                        <p class="card-text"><strong>Designation:</strong> {{ member.designation }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
